<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h4>The food sold are</h4>
      </div>
      <table class="table mx-auto">
    <thead>
      <tr>
        <th>Food</th>
        <th>count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of Food">
        <td>{{ food.name }}</td>
        <td>{{ food.count }}</td>
      </tr>
    </tbody>
    <br>
    <div class="text-center">
      <button type="button" style="text-align: center;" class="btn btn-dark"  (click)="onClick()">Back</button>
    </div>
  </table>
</div>